.wallet-adapter-button {
  background: linear-gradient(90deg, #00f5ff, #ff00ff) !important;
  font-weight: 700 !important;
  border: none !important;
  border-radius: 12px !important;
}

.wallet-adapter-button:not([disabled]):hover {
  filter: brightness(1.2) !important;
}
